<div class="row">
  <div class="col-md-12">
    <h2>Categories</h2>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>CategoryID</th>
            <th>CategoryName</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
            <tr>
              <td><a href="/posts?category={{this.id}}">{{this.id}}</a></td>
              <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
            </tr>
            <tr>
              <td colspan="2"><hr /></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
